@model Furniture.Models.generic_order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>generic_order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payed_amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payed_amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.init_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.init_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dest_addr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dest_addr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dest_zipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dest_zipcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.distributor.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distributor.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supplier.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supplier.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_status.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_status.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profile.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profile.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
