@model Baldu_Gamybos_IS.Models.GenericOrder;

@{
    ViewData["Title"] = "OrderInfo";
}
<!DOCTYPE html>
<head>
        <link rel="stylesheet" href="~/css/warehouse.css"/>
        <style>
            body {
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
            }

            .center {
                text-align:center;
            }

            #customers .wire {
                text-align: left; 
                position:relative; 
                right:9px;  
                border:0px
            }
    </style>
</head>
<body>
    <center>
        <div class="container box" style="width:95%; margin-bottom:2%; height:15%">
            <table id="customers" style="width:100%;">
                <tr style="background-color:white;">
                    <td colspan="5"  class="wire boxall" style="left:0px; width:95%">
                        <h4>
                            <b class="bold ">Užsakymo detalesnė informacija</b>
                        </h4>
                    </td>
                    <br/>
                    <br/>
                </tr>
                <tr style="height: 40px;"></tr>              
                
                <tr>
                    <th style="width:20%">Vardas</th>
                    <th style="width:20%">Pavardė</th>
                    <th style="width:30%">Email</th>
                    <th style="width:30%;">Telefonas</th>
                </tr>
                <tr>
                    <td class='center'>@Model.FkProfileNavigation?.FirstName</td>
                    <td class='center'>@Model.FkProfileNavigation?.LastName</td>
                    <td class='center'>@Model.FkProfileNavigation?.Email</td>
                    <td class='center'>@Model.FkProfileNavigation?.Phone</td>

                </tr>
                <tr>
                    <th style="width:10%">NR</th>
                    <th style="width:20%">Būsena</th>
                    <th style="width:20%">Kaina</th>
                    <th style="width:20%;">Sumokėta</th>
                    <th style="width:10%">Kryptis</th>
                    <th style="width:20%"></th>
                </tr>
                <tr>
                    <td class='center'>@Model.Id</td>
                    <td class='center'>@Model.FkStatusNavigation?.Name</td>
					<td class='center'>@(Model.Price == null ? "nenustatyta" : Model.Price)</td>
                    <td class='center'>@Model.PayedAmount</td>
					<td class='center'>@(Model.Direction == null ? null : ((bool)Model.Direction ? "Mums" : "Klientui"))</td>
                    <td>
                        <a href='./OrderState?id=@Model.Id' class='btn' style='background-color:#00d4ff; color:black'>Keisti būseną</a>
                    </td>
                </tr>
                
                    @foreach(var product in Model.Products){
                        <tr>
                            <th style="width:20%">Produktas</th>
                            <th style="width:10%">NR</th>
                            <th style="width:20%">Kiekis</th>
                            <th style="width:20%">Pagaminta</th>
                            <th style="width:20%">Tipas</th>                                
                        </tr>
                        <tr>
                            <td class='center'></td>

                            <td class='center'>@product.Id</td>
                            <td class='center'>@product.Count</td>
                            <td class='center'>@product.MadeCount</td>
                            <td class='center'>@product.Type</td>

                        </tr>
                        @foreach(var resource in product.ProductResources){
                                <tr>
                                <th style="width:30%">Žaliavos</th>
                                <th style="width:10%">NR</th>
                                <th style="width:30%">Žaliava</th>
                                <th style="width:30%">Kiekis</th>
                            </tr>
                            <tr>
                                <td class='center'></td>

                                <td class='center'>@resource.Id</td>
                                <td class='center'>@resource.FkResourceNavigation.Name</td>
                                <td class='center'>@resource.Amount</td>


                            </tr>
                        }
                    }   
                    @foreach(var resource in Model.OrderResources){
                        <tr colspan="6">
                            <th style="width:30%" >Žaliava</th>
                            <th style="width:10%">NR</th>
                            <th style="width:30%">Kiekis</th>
                            <th style="width:30%">Pavadinimas</th>
                            

                        </tr>
                        <tr>
                            <td class='center'></td>
                            <td class='center'>@resource.Id</td>
                            <td class='center'>@resource.Amount</td>
                            <td class='center'>@resource.FkResourceNavigation.Name</td> 
                            

                        </tr>
                    }

            
                <tr>
                    <th colspan="6"> &#160;</th>
                </tr>
            </table>
            <br>
        </div>
    </center>
</body>