@model Baldu_Gamybos_IS.Models.GenericOrder;

@{
    ViewData["Title"] = "OrderInfo";
}
<!DOCTYPE html>
<head>
        <link rel="stylesheet" href="~/css/warehouse.css"/>
        <style>
            body {
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
            }

            .center {
                text-align:center;
            }

            #customers .wire {
                text-align: left; 
                position:relative; 
                right:9px;  
                border:0px
            }
    </style>
</head>
<body>
    <center>
        <div class="container box" style="width:95%; margin-bottom:2%; height:15%">
            <table id="customers" style="width:100%;">
                <tr style="background-color:white;">
                    <td colspan="5"  class="wire boxall" style="left:0px; width:95%">
                        <h4>
                            <b class="bold ">Užsakymo detalesnė informacija</b>
                        </h4>
                    </td>
                    <br/>
                    <br/>
                </tr>
                <tr style="height: 40px;"></tr>              
                
                <tr>
                    <th style="width:20%">Vardas</th>
                    <th style="width:20%">Pavardė</th>
                    <th style="width:30%">Email</th>
                    <th style="width:30%;">Telefonas</th>
                </tr>
                <tr>
                    <td class='center'>@Model.FkProfileNavigation?.FirstName</td>
                    <td class='center'>@Model.FkProfileNavigation?.LastName</td>
                    <td class='center'>@Model.FkProfileNavigation?.Email</td>
                    <td class='center'>@Model.FkProfileNavigation?.Phone</td>

                </tr>
                <tr>
                    <th style="width:10%">NR</th>
                    <th style="width:20%">Būsena</th>
                    <th style="width:20%">Kaina</th>
                    <th style="width:20%;">Sumokėta</th>
                    <th style="width:10%">Kryptis</th>
                </tr>
                <tr>
                    <td class='center'>@Model.Id</td>
                    <td class='center'>@Model.FkStatusNavigation?.Name</td>
                    <td class='center'>@Model.Price</td>
                    <td class='center'>@Model.PayedAmount</td>
					<td class='center'>@(Model.Direction == null ? null : ((bool)Model.Direction ? "Mums" : "Klientui"))</td>                    
                </tr>
                <tr>
                    @{
                        var canSend=true;
                        foreach(var product in Model.Products){
                            if(product.Count>product.MadeCount){
                                canSend=false;
                                break;
                            }
                        }

                        var CanMake=true;
                        var amounts=new List<float>();
                        var ids=new List<int>();
                        if(Model.Products.Count>0){
                            foreach(var product in Model.Products){
                                foreach(var resource in product.ProductResources){
                                    if(ids.Contains((int)resource.FkResource)){
                                        amounts[ids.IndexOf((int)resource.FkResource)]+=(float)resource.Amount ;
                                    }
                                    else{
                                        amounts.Add((float)resource.Amount-(float)resource.FkResourceNavigation.LeftAmount);
                                        ids.Add((int)resource.FkResource);
                                    }
                                }
                            }
                            foreach(var i in amounts){
                                if(i>0){
                                    CanMake=false;
                                    break;
                                }
                            }
                        }
                    }
                        

                    <form asp-controller="Orders" asp-action="ChangeState" method="POST">
                   <tr>
                    <td>
                    <select name="state" id="state">
                        @if(Model.FkStatusNavigation.Name=="laukiantis" || Model.FkStatusNavigation.Name=="patvirtintas"){
                            <option value=3>Atšaukti</option>
                        }
                        else{
                            <option value=3 disabled>Atšaukti</option>
                        }
                        @if(Model.FkStatusNavigation.Name=="laukiantis" ){
                            <option value=6>Patvirtinti</option>
                        }
                        else{
                            <option value=6 disabled>Patvirtinti</option>
                        }
                        @if(Model.FkStatusNavigation.Name=="patvirtintas"&& Model.PayedAmount>=Model.Price){
                            <option value=7>Apmokėtas</option>
                        }
                        else{
                            <option value=7 disabled>Apmokėtas</option>
                        }
                        @if(Model.FkStatusNavigation.Name=="apmokėtas"&&CanMake){
                            <option value=4>Gaminti</option>
                        }
                        else{
                            <option value=4 disabled>Gaminti</option>
                        }
                        @if( (Model.FkStatusNavigation.Name=="gaminamas"||Model.FkStatusNavigation.Name=="laukiantis") &&canSend){
                            <option value=5>Išsiųsti</option>
                        }
                        else{
                            <option value=5 disabled>Išsiųsti</option>
                        }
                        @if(Model.FkStatusNavigation.Name=="išsiųstas"){
                            <option value=2>Patvirtinti atsiuntimą</option>
                        }
                        else{
                            <option value=2 disabled>Patvirtinti atsiuntimą</option>
                        }
                        <option  disabled selected>Pasirinkite kitą būseną</option>                      
                    </select>
                    <input type="hidden" value=@Model.Id id="id" name="id"></input>
                    </td>
                    <td>
                        <button type="submit" name="Id" value=state class='btn' style='background-color:#00d4ff; color:black'>Keisti Būseną</button>
                    </td>
                    </form>
                </tr>              
                <tr>
                    <th colspan="6"> &#160;</th>
                </tr>
            </table>
            <br>
        </div>
    </center>
</body>