@model Baldu_Gamybos_IS.Models.ViewModel.WarehouseView.WarehouseView;

@{
    ViewData["Title"] = "Warehouse";
}
<!DOCTYPE html>
<head>
        <link rel="stylesheet" href="~/css/warehouse.css"/>
        <style>
            body {
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
            }

            .center {
                text-align:center;
            }

            #customers .wire {
                text-align: left; 
                position:relative; 
                right:9px;  
                border:0px
            }

            .header {
                background-color: coral;
            }
    </style>
    <script>
        function sub(value) {
            showall();
            if(value == 2){
                for(i = -3; i <= @Model.Resources.Count; i++){
                    var x = document.getElementById(i).style.visibility == null ? document.getElementById(i).style.visibility : "c";
                    if (x == "c" || x == "visible") {
                        document.getElementById(i).style.visibility = "collapse";
                    }
                }
            }
            else if(value == 1){
                for(i = -1; i <= @Model.Products.Count; i++){
                    var x = document.getElementById(i+"a").style.visibility == null ? document.getElementById(i+"a").style.visibility : "c";
                    if (x == "c" || x == "visible") {
                        document.getElementById(i+"a").style.visibility = "collapse";
                        if(i == 0){
                            document.getElementById("-2a").style.visibility = "collapse";
                            document.getElementById("-2").style.visibility = "collapse";
                            document.getElementById("-3").style.visibility = "collapse";
                        }
                    }
                }
            }
        }

        function showall(){
            for(i = -1; i <= @Model.Resources.Count; i++){
                document.getElementById(i).style.visibility = "visible";
            }
            for(i = -1; i <= @Model.Products.Count; i++){

                document.getElementById(i+"a").style.visibility = "visible";
            }
            document.getElementById("-3").style.visibility = "visible";
            document.getElementById("-2a").style.visibility = "visible";
            document.getElementById("-2").style.visibility = "visible";
        }
    </script>
</head>
<body>
    <center>
        <div class="container box" style="width:85%; margin-bottom:2%; min-width:700px;">
            <table id="customers" style="width:95%;">
                <tr style="background-color:white;">
                    <td colspan="6"  class="wire boxall" style="left:0px; width:95%">
                        <h3>
                            <b class="bold ">Sandėlio likučių sąrašas:</b>
                        </h3>
                    </td>
                    <br/>
                    <br/>
                </tr>
                <tr style="height: 40px;"></tr>
                <tr style="background-color:white;">
                    <td colspan="4" class="wire">
                        <a id="nj" href="naujasŽaliava" class="btn button" name="submit">Nauja žaliava</a>
                    </td>
                    <td class="wire" style="text-align: right;">
                        <b><label>Rodyti:</label></b>
                    </td>
                    <td class="wire">
                        <select class="center btn" style="background-color: white;" name="filter" onchange="sub(this.value)">
                            <option>Visi</option>
                            <option value="1">Žaliavos</option>
                            <option value="2">Produktai</option>
                        </select>
                    </td>
                </tr>
                <tr style="height: 10px;"></tr>
                <tr id="-1" style="background-color:white;">
                    <td colspan="6"  class="wire boxall" style="left:0px; width:95%">
                        <h8>
                            <b class="bold ">Žaliavos:</b>
                        </h8>
                    </td>
                </tr>
                <tr style="height: 10px;"></tr>
                <tr id=0>
                    <th style="width:10%">NR</th>
                    <th style="width:20%">žaliava</th>
                    <th style="width:25%">Kiekis</th>
                    <th style="width:15%">Vieneto kaina</th>
                    <th style="width:10%">Likutis d.</th>
                    <th style="width:5%;">Parinktys</th>
                </tr>
                <div>
                @{int i = 0, j = 0;}
                @foreach(var item in Model.Resources){
                    i++;
                    <tr id=@i style="text-align: center;">
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.LeftAmount</td>
                        <td>@item.UnitPrice</td>
                        <td>@item.Est</td>
                        <td>
                            <a href='./ChangeWarehouseResource?id=@item.Id' class='btn' style='background-color:#00d4ff; color:black'>Keisti</a>
                        </td>
                    </tr>
                }
                </div>
                <tr id="-2">
                    <th colspan="6"></th>
                </tr>
                <tr id="-3" style="height: 10px;"></tr>
                <tr id="0a" style="background-color:white;">
                    <td colspan="6"  class="wire boxall" style="left:0px; width:95%">
                        <h8>
                            <b class="bold ">Produktai:</b>
                        </h8>
                    </td>
                </tr>
                <tr id="-2a" style="height: 10px;"></tr>
                <tr id="-1a">
                    <th style="width:10%">NR</th>
                    <th>Produktas</th>
                    <th style="width:45%">Kiekis</th>
                    <th style="width:25%">Vieneto kaina</th>
                    <th style="width:5%;">Užsakymas</th>
                    <th style="width:5%;">Parinktys</th>
                </tr>

                @foreach(var item in Model.Products){
                    j++;
                    <tr id=@(j.ToString() + "a") class="center">
                        <td>@item.Id</td>
                        <td>@item.ProductName</td>
                        <td>@item.Count</td>
                        <td>@item.SinglePrice</td>
                        <td>@item.OrderId</td>
                        <td>
                            <a href='./ChangeWarehouseProduct?id=@item.Id' class='btn' style='background-color:#00d4ff; color:black'>Keisti</a>
                        </td>
                    </tr>
                }
                <tr>
                    <th colspan="6"> &#160;</th>
                </tr>
            </table>
            <br>
        </div>
    </center>
</body>