@model IEnumerable<Baldu_Gamybos_IS.Models.Payment>;

@{
    ViewData["Title"] = "Payments";
}




<!DOCTYPE html>
<head>
        <link rel="stylesheet" href="~/css/warehouse.css"/>
        <style>
            body {
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
            }

            .center {
                text-align:center;
            }

            #customers .wire {
                text-align: left; 
                position:relative; 
                right:9px;  
                border:0px
            }
    </style>

</head>
<body>
    <center>
        <div class="container box" style="width:85%; margin-bottom:2%; height:15%; min-width:700px;">
            <table id="distributors" style="width:95%;">
				<tr style="background-color:white;">
					<td colspan="6" class="wire boxall" style="left:0px; width:95%">
						<h4>
							<b class="bold ">Mokėjimų sąrašas:</b>
						</h4>
					</td>
					@if (ViewData["SuccessState"] != null) {
						<div id="div-1">
							<label class="pull-center" style="color:brown;font-size:30px;">Naujas mokėjimas sėkmingai pridėtas<br /></label>
						</div>
						<script type="text/javascript">
							setTimeout(() => {
								const elem = document.getElementById("div-1");
								elem.parentNode.removeChild(elem);
							}, 30000);
						</script>
					}
					
					<br />
					<br />
				</tr>
                <tr style="height: 40px;"></tr>
                <tr style="background-color:white;">
                    <td colspan="4" class="wire">
                        <a id="nj" href="@Url.Action("NewPayment","Payment",new Payment())" class="btn button" name="submit">Naujas mokėjimas</a>
                    </td>
                    

                </tr>
                <tr >
                    <th style="width:10%">NR</th>
                    <th style="width:20%">Suma</th>
                    <th style="width:10%">Kryptis</th>
                    <th style="width:30%">Laikas</th>
                    <th style="width:10%">Tipas</th>
                    <th style="width:10%">Užsakymo NR</th>
                    <th style="width:10%">Liko mokėti</th>
                </tr>
                @foreach (var item in Model) {
                    
                    <tr>
                        <td class='center'>@item.Id</td>
                        <td class='center'>@item.Amount</td>
						<td class='center'>@(item.Direction == null ? null : ((bool)item.Direction ?  "Įmonėms":"Mums" ))</td>
                        <td class='center'>@item.Time</td>
                        <td class='center'>@item.FkTypeNavigation.Name</td>
                        <td class='center'>@item.FkOrderNavigation.Id</td>
                        <td class='center'>@(item.FkOrderNavigation.Price-item.FkOrderNavigation.PayedAmount)</td>
                       
                    </tr>                  
                }
                <tr>
                    <th colspan="6"> &#160;</th>
                </tr>
            </table>
            
            <br>
        </div>
    </center>
</body>
